@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Oswald:wght@300&family=Quicksand&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgb(88, 140, 219),rgb(88, 219, 219));
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.container
{
    
padding: 20px;

}

.inputs
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
    
}

input{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 200px;
    font-family: 'Oswald', sans-serif;
    font-size: medium;
     font-weight: bold;
}
.final-answer
{
    
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 4px;
}

.calculate
{
     border-radius: 4px;
     background: rgb(208, 13, 247);
     color: white;
     margin: 20px;
      padding: 4px;
     font-size: medium;
     font-family: 'Oswald', sans-serif;
     font-size: medium;
      
     width: 100%;
}
.tip-per-person
{
    display: flex;
    justify-content: space-around;
}
.total-amount-per-person
{
    display: flex;
    justify-content: space-around;
}