
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Odibee+Sans&display=swap');

body
{
	font-family: 'Black Ops One', cursive;

}
*, html {
    margin:0;
    padding:0;  
}
.main
{
	height:50vw;
  width: 50vw;
 position: relative;
 background: url('face.png');
background-size: cover;
background-repeat: no-repeat;
 
margin: auto;

}

/* .c-face
{
  position: relative;
	width: 100vw;
	height:100vh;
  margin:auto;
	
	 
	 background-color: green;

} */

.hand
{
	transform-origin: 50% 100%;
  border-radius:80px;
  position:absolute;
 
	 
	  
        
}
 
.hour
{ 
  width:1%;
  height: 19%;
   background-color: yellow;
   top: 33.5%;
   right:49.5%;
 
  
  
}
  

 
.min
{ 
  width:1%;
  height: 22%;
  background-color: orange;
   
 background-image: url('face.png');
   background-size: cover;
   top: 30%;
   right:50.1%;
}
.sec
{ 
  width:1%;
  height: 27%;
   
  background-color: blue;
  top: 25%;
   right:49.5%;
}

.digital
{ 
  position: relative;
  
  margin: auto;
	width: 320px;
	height: 70px;
	background: #85018a;
	border-radius: 15px;
   padding: 10px;
   color: white;
   text-align: center;
   font-size: 40px;


	 
}


@media only screen and (max-width: 760px) 
{
  .digital
{ 
  position:relative;
  width: 300px;
  height: 60px;
  background: #85018a;
  border-radius: 15px;
   padding: 10px;
   color: white;
   text-align: center;
   font-size: 35px;
 
   margin:auto;
}

.main
{
	height:60vh;
  width: 60vh;
 position: relative;
 background: url('face.png');
background-size: cover;
background-repeat: no-repeat;
 
}
}

 

